img {
    width: 1280px;
    display: flex;
    transform: scale(100%);
    width:70%;
    position: relative;
    left:15%;
   }
   body{
    font-size: 45px;
    color:rgb(25, 24, 24);
    text-shadow: black 1px 1px 1px;
   }
  .copy{
    background-color: rgb(222, 233, 14);
    color:#01040c;
    border-radius: 20px;
    transform: scale(200%);
    margin:30px;
  }
  #thong-bao{
    display: none;
  }
